<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="logFileName">app</Property>
        <Property name="logLevel">info</Property>
        <Property name="shortPattern">[%-5level] %-30.40c{1.} | %20.20M |- %msg%n</Property>
        <Property name="logPattern">[%-5level] %d{HH:mm:ss.SSS} [%20.30t] %-30.40c{1.} | %20.20M |- %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingFile name="RollingFileAppender" fileName="logs/app.log"
                     filePattern="logs/logs-%d{yyyyMMdd}/app-%d{HH-mm-ss}-%i.log">
            <PatternLayout pattern="${shortPattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>